<div>
      <h1>
        <%= @anecdote.content %>
      </h1>
    <% if Theme.find_by_anecdote_id(@anecdote.id).blank? %>
    
      <% else %>
        <span>Theme :</span> 
         <%= render Theme.where(anecdote_id: @anecdote.id) %>
     <% end %>
 </div>