<% provide(:title, "Scene") %>
<h1>Scene</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:scene, url: '/scene') do |f| %>

      <%= f.label :content %>
      <%= f.text_field :content %>

      <%= f.submit "Send", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
