<% provide(:title, @chapter.title) %>
<div >
      <h1>
        <%= @chapter.title %>
      </h1>
      <br/>
      <% if Scene.find_by_chapter_id(@chapter.id).blank? %>
      <% else %>
        <span>Scene :</span> 
         <%= render Scene.where(chapter_id: @chapter.id) %>
        <span> Character :</span> 
         <%= render Relation.where(scene_id: Scene.where(chapter_id: @chapter.id))%>
     
     <% end %>
     <% if Anecdote.find_by_chapter_id(@chapter.id).blank? %>
      <% else %>
        <span>Anecdote :</span> 
         <%= render Anecdote.where(chapter_id: @chapter.id) %>
     <% end %>
    
</div>